.title {
    margin-bottom: 10%;
    margin-top: 2%;
}
.title_2{
    margin-top: 2%;
}

.text_topic {
    font-weight: bold;
    margin-left: 8%;
}

a
{ 
    text-decoration:none;
    outline: none;
    background: none;
    color: none;
} 